/* Sets the font to be used */

* {
    font-family: Arial, Helvetica, sans-serif;
}


/* Centers text */
.center {
    text-align: center;
}


/* Makes the element invisible */
.hidden {
    display: none;
}

/* Makes the item visible */
.show {
    display: auto;
}


/* Adds flex to the main container of all elements */
#container {
    display: flex;
}

/* Styles the header, adds a gradient and increases font size */
#title {
    background-image: linear-gradient(to left, lightblue, blue);
    color: white;
    height: 80px;
    font-size: 400%;
}

/* Increases the size of the "search for a city" prompt */
#searchBarText {
    font-size: 200%;
}


/* Positions the list of the previously searched items and removes the bullet points */
#cityList {
    top: 230px;
    margin-bottom: 70%;
    list-style: none;
    position: absolute;

}

/* Poistions and styles todays forecast */
#mainWeatherCard {
    margin-left: 2%;
    border: black;
    border-style: solid;
    height: 20em;
    width: 83%;
    margin-top: 10px;
    float: right;
    display: block;
}

/* Styles the list items inside the main forecast and positions them */
#mainCardList li {
    list-style: none;
    margin-bottom: 15px;
}


/* Styles the name of the city that appears on the main card */
#mainCardCity {
    margin-top: 10px;
    font-size: 250%;
}


/* Styles the list of previously searched cities and positions them */
#cityList li {
    background-color: cornflowerblue;
    color: white;
    height: 40px;
    width: 290%;
    margin-left: -35%;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
    margin-bottom: 5px;
    max-width: 340px;
}

/* Positions the container for the future weather conditions */
#futureWeatherContainer{
    display: flex;
    margin-left: 16.3%;
    margin-top: 10px;
}

/* Styles and positions the cards inside the container for the future weather forecasts */ 
#futureWeatherContainer div {
    border: black;
    border-style: solid;    
    margin: 5px;
    width: 20%;
    height: 300px;
    background-color: slategrey;
    color: white;
}

/* Styles and positions the list items inside the future weather forecast cards */
#futureWeatherContainer div li {
    list-style: none;
    margin-bottom: 35px;
}

/* Targets the h4 element inside the future forecasts and pushes the lists down a bit  */
#futureWeatherContainer div h4 {
    margin-bottom: 50px;
}


/* Targets the date in the main card and moves it up closer to the city name */
#mainCardDate {
  margin-top: -30px;
}

/* Targets the dates in the smaller cards, makes the text larger and moves the, closer to the top of their containers */
.futDates {
    font-size: 30px;
    margin-top: 0px;
}


/* Targets the UV index text and colours it depending on the severity */
.lowUV {
    background-color: lime;
    border-radius: 5px;
}

/* Targets the UV index text and colours it depending on the severity */
.mediumUV {
    background-color: orange;
    border-radius: 5px;
}

/* Targets the UV index text and colours it depending on the severity */
.highUV {
    background-color: orangered;
    border-radius: 5px;
}

/* Targets the weather icons inside the future text and moves them up a little */
.futIcons {
    margin-top: -30px;
}